@model MovieTickets.Models.ShoppingCartDto


<h1>Shopping Cart</h1>

@if(Model.TicketsInShoppingCart.Count == 0)
{
    <h5>No tickets in shopping cart.</h5>
}
else
{
    <div class="row">
        <div class="form-group">
            <a href="/ShoppingCart/BuyNow" class="btn btn-warning">Buy now</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col">
                    #
                </th>
                <th class="col">
                    Movie
                </th>
                <th class="col">
                    Date and Time
                </th>
                <th class="col">
                    Quantity
                </th>
                <th class="col">
                    Price
                </th>
                <th>

                </th>
            </tr>
        </thead>

        <tbody>
            @{
                var i = 1;
                foreach(var item in Model.TicketsInShoppingCart)
                {
                    <tr>
                        <td>
                            @{i++;}
                        </td>
                        <td>
                            @item.Ticket.movie;
                        </td>
                        <td>
                            @item.Ticket.dateTime;
                        </td>
                        <td>
                            @item.Quantity;
                        </td>
                        <td>
                            @item.Ticket.ticketPrice;
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/ShoppingCart/DeleteFromShoppingCart/@item.Ticket.TicketId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>

        <tfoot>
            <tr>
                <th>
                    Total:
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    @Model.TotalPrice den.
                </th>
            </tr>
        </tfoot>

    </table>
}